<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your bussiness with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" alt="represtional-img">
                        </figure>
                    </div>

                    {{!-- right side --}}
                    <div
                        class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                        <h1>We Are The Team Of Professional Developer✌</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium laborum beatae dicta quibusdam earum!</p>
                        <button class="btn-style btn-primary">Read more</button>

                    </div>
                </div>
            </div>
        </div>
    </div>