<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our services</h1>
            <p class="text-center sub-heading">grow your bussiness with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/setting.png" alt="img">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima.</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/speedup.png" alt="speedup">
                            </div>
                            <h4>Speedup</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima.</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/privacy.png" alt="privacy">
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima.</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/backups.png" alt="backups">
                            </div>
                            <h4>Backups</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima.</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/ssl.png" alt="ssl">
                            </div>
                            <h4>SSL Secured</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima.</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/database.png" alt="database">
                            </div>
                            <h4>Database</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima.</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>